imagesize==1.2.0
numpy==1.19.5
pandas==1.2.1
seaborn==0.11.1
tensorflow==2.4.0
# tensorflow-gpu==2.4.0
matplotlib==3.3.3
lxml==4.6.3
imgaug==0.4.0
tensorflow-addons==0.12.0
opencv-python-headless==4.5.1.48
imagecorruptions==1.1.2
configparser~=5.0.1
scipy==1.6.0
PyQt5==5.15.2
tabulate==0.8.7
ipykernel==5.4.3
